<!DOCTYPE html>
<h1>Emi.ly</h1>
<% if (user) {%>
  <h2>Hello, <%= user.email %></h2>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <a href="/login">Login</a> / <a href="/register">Register</a>
<% } %>
