<!DOCTYPE html>
<h1>Emi.ly</h1>
<% if (username) {%>
  <h2>Hello, <%= username %></h2>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
    <input type="submit" value="Login">
  </form>
<% } %>
