<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/assets/styles2.css" rel="stylesheet" type="text/css" />
  </head>
    <body>
      <h1><span style="font-size:2.75em;">Emi.ly</span><br>TinyApp: url shortener</h1>

      <input id="toggle" type="checkbox"></input>

      <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>

    <div class="nav">
      <div class="nav-wrapper">
        <nav>
          <a href="/register">Register</a><br>
          <a href="/login">Login</a>
        </nav>
      </div>
    </div>
  </body>
</html>