<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <h1>Emi.ly</h1>
    <h2>Welcome to the login page!</h2>
    <form action="/login" method="POST">
      Email: <input type="email" name="email" /><br>
      Password: <input type="password" name="password" /><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>