<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h2><strong>Shortened: </strong><a href="/u/<%= shortURL %>"><%= shortURL %></a></h2>
    <ul>
      <li><strong>Full url: </strong><%= longURL %></li>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input id="longURLUpdated" type="text" name="longURLUpdated" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
      <li>
        <a href="/urls">See all urls</a>
      </li>
    </ul>
  </body>
</html>
