<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for (var key in urls) { %>
      <li>
        <strong><%= key %>: </strong> <%= urls[key] %>
      </li>
    <% } %>
    <li>
      <a href="/urls/new">Create new link</a>
    </li>
  </ul>
</body>
</html>
