<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h2>Full URL and its shortened form:</h2>
    <ul>
      <li>
        <strong>full url: </strong><%= longURL %>
      </li>
      <li>
        <strong>shortened: </strong><%= shortURL %>
      </li>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>
      <li>
        <a href="/urls">See all urls</a>
      </li>
    </ul>
  </body>
</html>
