<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../assets/styles.css" rel="stylesheet" type="text/css" />
  <title>Emi.ly</title>
</head>
<body>
  <h1><a href="/">Emi.ly</a></h1>
  <h1>403 ERROR!</h1>
  <p>You don't have permission to access this page</p>
</body>
</html>